div.chief-index {
  $green: rgba(20, 152, 13, 0.55);
  $red: rgba(194, 15, 15, 0.55);
  $bg-button: gold;
  $PI: 3.14;
  .button {
    margin: auto 5px;
  }
  section {
    >.settings {
      position: fixed;
      margin: 0;
      padding: 0;
      width: 0;
      background-color: ghostwhite;
      height: 100%;
      overflow: hidden;
      @include transform-style(preserve-3d);
      @include transition(width 0.5s ease-in-out, padding 0.5s ease-in-out);
      &.expand {
        width: 20em;
        padding: 1em;
      }
      .settings-cursor {
        position: absolute;
        width: 19em;
        top: -10em;
        left: -5em;
        @include transition(left 0.5s ease-in-out, top 0.5s ease-in-out);
        .widget-dropdown-selected:after {
          @include triangle(1em, black, down);
        }
        &.expand {
          top: 1em;
          left: 1em;
        }
        >div {
          margin: 8px 0;
        }
      }
    }
    .children-container {
      overflow: scroll;
      position: fixed;
      left: 0em;
      width: 100%;
      height: 90%;
      @include transition(left 0.5s ease-in-out);
      &.expand {
        left: 20em;
      }
    }
  }
  .icon-settings {
    float: left;
    margin: 5px 1em;
    cursor: pointer;
  }
  nav.nav-list {
    .open {
      position: absolute;
      top: 0.75em;
      right: 5px;
    }
  }
  ul {
    padding: 5px;
    background-color: ghostwhite;
  }
  a.item {
    @extend .flex-item-2;
    min-width: 7em;
    border-radius: 0.25em;
    background-color: $bg-button;
    padding: 0.25em;
    margin: 0.125em;
    text-decoration: none;
    &:hover,
    &.selected {
      box-shadow: 0 0 3px black;
    }
  }
}
div.board {
  div.nav {
    a {
      text-decoration: none;
      color: black;
      font-size: 1.5em;
      padding: 0.5em;
      cursor: default;
      &:hover {
        border: 1px solid;
        border-radius: 10px;
      }
    }
  }
  div.dashboard {
    position: relative;
    .treated {
      color: gray;
    }
    div.order {
      display: block;

      @include transition(height 0.5s ease-in-out, margin 0.5s ease-in-out);
      height: 0em;
      box-shadow: 0 0 1em 0;
      border-radius: 0.25em;
      margin: 0em;
      overflow: hidden;
      text-align: center;
      &.visible {
        &.expand {
          height: auto;
        }
        height: 3.1em;
        margin: 1em;
        //@include transition(height 0.5s ease-in-out, margin 0.5s ease-in-out);
      }
      h1 {
        margin: 0;
        span.price {
          width: 4em;
          float: right;
        }
        span.time {
          width: 4em;
          float: left;
        }
      }
      .items {
        @include flex-wrap;
        &.hidden {
          display: none;
        }
        margin: 0 0.5em;
        .item {
          background-color: gold;
          margin: 0 0.125em;
          padding: 0 0.25em;
          border: 1px solid;
        }
      }
      .cursor-payed,
      .cursor-treated {
        float: right;
        margin: 0 0.25em;
      }
    }
  }
  div.timeline {
    text-align: center;
    .fulfill {
      position: fixed;
      bottom: 1em;
      right: 1em;
    }
    span.play {
      margin: 0 0.5em;
      float: left;
      width: 2em;
      height: 2em;
      background-image: url(/stylesheets/icons/play.svg);
    }
    span.pause {
      margin: 0 0.5em;
      float: left;
      width: 2em;
      height: 2em;
      background-image: url(/stylesheets/icons/pause.svg);
    }
    .cursor-container {
      span.cursor-wrapper {
        cursor: default;
        margin: 0 2px;
        padding: 0.25em;
        border-radius: 0.25em;
        &.green {
          box-shadow: 0 0 4px 0 rgba(20, 152, 13, 0.55) inset;
        }
        &.red {
          box-shadow: 0 0 4px 0 rgba(194, 15, 15, 0.55) inset;
        }
      }
    }
    .busy-container {
      float: right;
      margin: 0 1em;
      span.busy-wrapper {
        border: 1px solid;
        border-radius: 0.25em;
        padding: 0.25em;
        input {
          width: 2em;
          font-size: 1em;
        }
      }
    }
  }
}
div.details {
  margin: 2em;
  .close-icon {
    top: 0;
    right: 0;
  }

  .details-reviews {
    height: 20em;
    overflow: scroll;
    padding: 1em;
    text-align: center;
    .details-reviews-customer {
      padding: 5px;
      text-align: left;
      &:nth-child(odd) {
        background-color: ghostwhite;
      }
      .userName {
        display: inline-block;
        min-width: 20%;
      }
    }
    .widget-hearts, .widget-hearts-rated {
      float: right;
    }
  }
}
