div.shop-card {
  position: absolute;
  right: 0;
  width: 85%;
  height: 100%;
  padding: 1em;
  span.shop-score {
    float: right;
    .icon-score {
      display: block;
    }
  }
  span.shop-map {
    cursor: pointer;
  }
  h1 {
    font-size: 2em;
    span.shop-open {
      font-size: 0.5em;
      float: right;
    }
  }
}

div.shop {
  $backcolor : gold;
  $itemcolor: gainsboro;
  margin: 0;
  .order {
    position: relative;
    padding: 2em;
    border-radius: 5px;
    background: ghostwhite;
    color: black;
    input {
      width: 3em;
      -webkit-appearance: none;
    }
    .date {
      margin-bottom: 4em;
    }
    .price {
      text-align: left;
      margin: 1em;
    }
    .items {
      @include flex-wrap;
      .item {
        @include flex-item;
        @include linear-gradient(45deg, $backcolor, white);
        cursor: default;
        margin: 5px;
        padding: 0.25em;
        border-radius: 5px;
        &:hover {
          box-shadow: 0 0 3px black;
        }
      }
    }
    .pay {
      cursor: default;
      position: absolute;
      padding: 0.5em;
      border-radius: 10px;
      right: 1em;
      bottom: 1em;
      border: 1px solid;
    }
    .nopay {
      cursor: default;
      position: absolute;
      padding: 0.5em;
      border-radius: 10px;
      left: 1em;
      bottom: 1em;
      border: 1px solid;
    }
  }
  .caddy {
    position: absolute;
    width: 15%;
    height: 100%;
    overflow: scroll;
    text-align: center;
    background-color: $backcolor;
    .item {
      position: relative;
      margin: 10px 5px 0;
      /* border: 3px solid; */
      box-shadow: 0 1px 3px black;
      font-weight: bold;
      padding: 1em 0;
      @include linear-gradient(45deg, $itemcolor, white);
      border-radius: 5px;
      .times {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
      }
    }
    .command {
      cursor: default;
      padding: 0.25em;
      margin: 0.5em;
      box-shadow: 0 1px 3px black;
      border-radius: 5px;
      @include linear-gradient(45deg, white, $itemcolor);
      &:hover {
        box-shadow: 0 0 6px black;
      }
    }
  }
  .card-order {
    $backcolor : gold;
    $itemcolor: gainsboro;
    .foods {
      @include flex-wrap;
      justify-content: flex-start;
      font-size: 1.5em;
    }
    .food {
      @include flex-item;
      position: relative;
      margin: 0.5em;
      text-align: center;
      cursor: default;
      padding: 1em;
      background-color: $backcolor;
      border-radius: 10px;
      .description {
        font-size: 0.8em;
      }
      .name {
        font-size: 1em;
      }
      .meals {
        @include flex-wrap;
        border-top: 1px solid;
        &.hidden {
          display: none;
        }
        .meal {
          @include flex-item;
          @include linear-gradient(45deg, $itemcolor, white);
          border-radius: 5px;
          .name {
            font-size: 1em;
          }
          cursor: default;
          padding: 0.25em;
          margin: 0.25em;
          &:hover {
            box-shadow: 0 0 10px 0 black;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
.card-edit {
  text-align: center;
  .brand {
    text-align: center;
    h1 {
      margin: 0.5em;
    }
    h2 {
      margin: 0.5em;
    }
  }
  .foods {
    @include flex-wrap;
    justify-content: flex-start;
    margin: 1em;
  }
  .food {
    @include flex-item;
    position: relative;
    margin: 0.5em;
    text-align: center;
    font-size: 1.5em;
    padding: 1em 1em 0;
    border: 3px solid;
    border-radius: 10px;
    span.plus {
      position: absolute;
      top: 0.5em;
      left: 0.5em;
    }
    .meals {
      @include flex-wrap;
      &.hidden {
        display: none;
      }
      .meal {
        @include flex-item
        span.close {
          position: absolute;
          width: 1.5em;
          height: 1.5em;
          top: -1em;
          right: -1em;
        }
        position: relative;
        margin: 1em;
        #price,
        #time {
          width: 2em;
        }
      }
    }
  }
}
