header {
  background-color: black;
  a {
    color: white;
  }
  div.title {
    display: inline-flex;
    a {
      color: white;
      font-weight: bold;
      font-size: 2em;
      padding: 0.25em 1em;
      &:hover {
        color: gold;
      }
    }
  }
  .auth {
    position: relative;
    &:hover {
      .dropdown-content {
        display: block;
      }
    }
    .auth-btn {
      a {
        color: white;
        font-weight: bold;
        font-size: 2em;
        padding: 0.25em 1em;
        &:hover {
          color: gold;
        }
      }
    }
    .dropdown-content {
      width: 100%;
      display: none;
      position: absolute;
      z-index: 5;
      background-color: black;
    }
    .profile-link {
      &:hover {
        color: white;
        border-left: 1px solid black;
      }
    }
  }
  li a,
  .nav-item {
    &:hover {
      color: gold;
    }
  }
}
a {
  padding: 1em;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
nav.nav-list {
  position: relative;
  ul {
    list-style-type: none;
    margin: 0;
    &.center {
      text-align: center;
    }
    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
  }
  li {
    position: relative;
    display: inline-block;
  }
  li a,
  .nav-item {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
  }
}
// nav.nav-stack {
//   z-index: 5;
//   background-color: black;
//   ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//   }
//   li {
//     float: none;
//   }
//   .logout-link {
//     padding: 1em;
//     text-align: center;
//     text-decoration: none;
//     &:hover {
//       color: gold;
//       border-left: 1px solid black;
//     }
//   }
//   li a {
//     text-align: center;
//     padding: 0.5em;
//     text-decoration: none;
//     &:hover {
//       color: gold;
//     }
//   }
// }
// @media screen and (min-aspect-ratio: 2/3) {
//   header {
//     background-color: gold;
//   }
// }
