nav.navbar {
  border-bottom: 1px solid;
  a {
    padding: 1em;
    text-decoration: none;
    color: black;
    &:hover {
      color: gray;
    }
  }
  div.title {
    display: inline-flex;
  }
  .session {
    display: inline;
    position: relative;
    width: 100%;
    .profile-link {
      margin: 1em;
      a {
        margin-top: 2em;
      }
      .button {
        margin: 1em;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
}
