body {
  font-family: 'Osaka';
}
.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  .nav-item {
    margin: 0 1em;
  }
}
.nav-wrap {
  @extend .nav;
  flex-wrap: wrap;
}
@mixin flex-item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}
@for $i from 2 through 10 {
  .flex-item-#{$i} {
    text-decoration: none;
    color: black;
    order: $i;
    @include flex-item;
  }
}
