div.profile {
  position: relative;
  padding: 2em;
  .modal {
    .form {
      background-color: ghostwhite;
      border-radius: 5px;
      text-align: left;
      padding: 2em;
      .modal-content {
        .items {
          @include flex-wrap;
          justify-content: flex-start;
          .item {
            @include flex-item;
            margin: 0 3px 0 0;
            border-radius: 5px;
            background-color: gold;
          }
        }
      }
    }
  }
  img {
    width: 100px;
    margin: 0.5em;
    border: 1px solid;
    border-radius: 5px;
    height: 100px;
  }
  div.profile-credentials {
    display: flex;
    background-color: gold;
    border-radius: 5px;
    div.credentials {
      position: relative;
      width: 100%;
    }
  }
  div.profile-data {
    @include flex-wrap;
    text-align: center;
    justify-content: flex-start;
  }
  .openarestaurant-link {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: black;
  }
  div.profile-data-wrapper {
    background-color: gold;
    width: 48%;
    margin: 1em 1% 0 0;
    padding: 0 0 1em;
    border-radius: 5px;
  }
  div.profile-data-list {
    text-align: left;
    margin: 0 1em;
    max-height: 20em;
    overflow: scroll;
    .restaurant, .order {
      cursor: pointer;
      color: black;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      background-color: white;
      &:nth-child(odd) {
        background-color: gainsboro;
      }
      span.price, .widget-hearts-rated, .widget-hearts, .hearts-wrapper, .right {
        float: right;
      }
      .widget-dropdown-content {
        right: 0;
      }
    }
  }
  .item {
    padding: 0.5em;
  }
  input {
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    text-align: left;
    font-size: 1.5em;
    font-style: inherit;
    border: none;
  }
}
