@include keyframes(comes-in) {
  from {
    margin: -90% auto;
  }
  to {
    margin: 10% auto;
  }
}
@include keyframes(fade-in) {
  from {
    background-color: rgba(10, 10, 10, 0);
  }
  to {
    background-color: rgba(10, 10, 10, 0.9);
  }
}
.modal {
  @include animation(fade-in 0.25s ease-out);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.9);
  z-index: 5;
  .form {
    @include animation(comes-in 0.25s $ease-in-out-quint);
    position: relative;
    margin: 10% auto;
    max-width: 60%;
    max-height: 90%;
  }
}
.widget-hearts-rated > .rated,
.widget-hearts-rated > .rated ~ .heart {
  fill: gold;
}
.widget-hearts:hover > .heart {
  fill: rgba(252, 252, 252, 0);
}
.widget-hearts:hover > .heart:hover,
.widget-hearts:hover > .heart:hover ~ .heart {
  fill: gold;
}
.flag {
  position: absolute;
  z-index: 5;
  background-color: white;
}
.widget-textarea {
  border: none;
  font-size: inherit;
  text-align: center;
  margin: 0;
  height: 1.2em;
  resize: none;
}
.widget-input {
  border: none;
  font-size: inherit;
  text-align: center;
  margin: 0;
}
.widget-dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.widget-dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  .widget-dropdown-item {
    .icon-valid {
      display: none;
    }
    &.selected {
      .icon-valid {
        display: inline;
      }
    }
  }
}
.widget-opening-hours {
  text-align: center;
  .picker-container {
    @include flex-wrap;
    &.hidden {
      display: none;
    }
  }
  .picker-wrapper {
    border-radius: 5px;
    box-shadow: 0 0 3px;
    background-color: gold;
    position: relative;
    margin: 0.5em;
    padding: 1em;
  }
  .to {
    margin: 0.5em;
  }
  .day-container {
    width: 100%;
    margin: auto;
    .day {
      width: 90%;
      border: 1px solid;
      margin: 1em;
      #from,
      #to {
        cursor: col-resize;
      }
      text {
        font-size: 0.75em;
      }
    }
  }
}
