@include keyframes(comes-in) {
  from {
    margin: -90% auto;
  }
  to {
    margin: 10% auto;
  }
}

@include keyframes(fade-in) {
  from {
    background-color: rgba(10, 10, 10, 0);
  }
  to {
    background-color: rgba(10, 10, 10, 0.9);
  }
}

.modal {
  @include animation(fade-in 0.25s ease-out);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.9);
  z-index:5;
  .form {
    @include animation(comes-in 0.25s $ease-in-out-quint);
    position: relative;
    margin: 10% auto;
    max-width: 60%;
    max-height: 90%;
  }
}
.flag {
  position: absolute;
  z-index: 5;
  background-color: white;
}
.widget-textarea {
  border: none;
  font-size: inherit;
  text-align: center;
  margin: 0;
  height: 1.2em;
  resize: none;
}
.widget-input {
  border: none;
  font-size: inherit;
  text-align: center;
  margin: 0;
}
.cursor {
  cursor: pointer;
}
