div.chief-index {
  a.item {
    @extend .flex-item-2;
    border-radius: 0.25em;
    color: #666666;
    padding: 0.25em;
    margin: 0.125em;
    border: 1px solid;
    text-decoration: none;
  }
  a.selected {
    @extend a.item;
    color: black;
    box-shadow: 2px 2px 0px;
  }
}

div.board {
  div.nav {
    a {
      text-decoration: none;
      color: black;
      font-size: 1.5em;
      padding: 0.5em;
      cursor: default;
      &:hover {
        border: 1px solid;
        border-radius: 10px;
      }
    }
  }
  div.dashboard {
    position: relative;
    div.order {
      border: 1px solid;
      margin: 1em;
      text-align: center;
      h1 {
        margin: 0;
        span.price {
          float: right;
        }
        span.time {
          float: left;
        }
      }
    }
  }
  div.timeline {
    text-align: center;
    span.play {
      margin: 0.5em;
      float: left;
      width: 2em;
      height: 2em;
      background-image: url("/stylesheets/icons/play.svg");
    }
    span.time {
      font-size: 2em;
    }
    span.pause {
      margin: 0.5em;
      float: left;
      width: 2em;
      height: 2em;
      background-image: url("/stylesheets/icons/pause.svg");
    }
  }
}
div.settings {
  margin: 2em;
  .setting {
    font-size: 1.5em;
    margin: 1em auto;
    width: 75%;
    position: relative;
    padding: 0.75em;
    border: 1px solid;
    .cursor {
      cursor: pointer;
      height: 2em;
      top: 0.5em;
      right: 0.5em;
      position: absolute;
    }
  }
  .close-icon {
    top: 0em;
    right: 0em;
  }
  .opening-hours {
    text-align: center;
    .day-title {
      text-align: left;
      display: inline-block;
      padding: 0.5em;
      border: 1px solid;
    }
    .picker-wrapper {
      background-color: rgb(171, 171, 168);
      position: relative;
      margin: 0.5em;
      padding: 1em;
    }
    .to {
      margin: 0.5em;
    }
    .day-container {
      width: 100%;
      margin: auto;
      .day {
        width: 90%;
        border: 1px solid;
        margin: 1em;
        #from,
        #to {
          cursor: col-resize;
        }
        text {
          font-size: 0.75em;
        }
      }
    }
  }
}
