@import 'login';
@import "nav";
@import "start";
@import "restaurants";
@import "shop";
@import "timepicker";
@import "profile";
@import "board";
body {
  margin: 0;
}
@mixin button {
  padding: 0.5;
  border-radius: 10px;
  cursor: default;
  color: black;
  text-decoration: none;
  &:hover {
    color: white;
    background-color: black;
  }
}
div.nav-brand {
  border-bottom: 1px solid;
  a {
    padding: 1em;
    @include button;
  }
  div.title {
    a {
      padding: 0;
    }
  }
  div.session {
    position: relative;
    .menu {
      border-left: 1px solid;
      border-bottom: 1px solid;
      border-right: 1px solid;
      width: 100%;
      position: absolute;
      background-color: white;
      z-index: 1;
      .profile-link {
        margin: 1em;
        a {
          margin-top: 2em;
          width: 100%;
        }
      }
      .button {
        margin: 1em;
      }
    }
  }
}
.button {
  padding: 1em;
  @include button;
}
.hidden {
  display: none;
}
