@import 'login';
@import "nav";
@import "start";
@import "restaurants";
@import "shop";
@import "timepicker";
@import "profile";
@import "board";
@import "card";
@import "leaflet";
.text-center {
  text-align: center;
}
.flex-center {
  justify-content: center;
}
.flex {
  display: flex;
}
.marged {
  margin: 1em;
}
.center-text {
  text-align: center;
}
svg {
  overflow: visible;
}
@for $i from 2 through 10 {
  .width-#{$i} {
    width: 100%/$i;
  }
}
.restaurant-popup {
  text-align: center;
}
#map {
  height: 1000px;
}
.close-icon {
  background-image: url('/stylesheets/icons/close-black.svg');
  height: 1em;
  width: 1em;
  position: absolute;
  &:hover {
    border: 1px solid;
  }
}
body {
  margin: 0;
  overflow: hidden;
}
@mixin button {
  padding: 0.5;
  border-radius: 10px;
  cursor: default;
  color: black;
  text-decoration: none;
  &:hover {
    color: white;
    background-color: black;
  }
}
section {
  border: 1px solid;
  position: relative;
  overflow-y: scroll;
  .close-icon {
    right: 1em;
    top: 1em;
  }
}
nav.nav-brand {
  border-bottom: 1px solid;
  a {
    padding: 1em;
    @include button;
  }
  div.title {
    a {
      padding: 0.25em;
    }
  }
  div.session {
    position: relative;
    .menu {
      border-left: 1px solid;
      border-bottom: 1px solid;
      border-right: 1px solid;
      width: 100%;
      position: absolute;
      background-color: white;
      z-index: 1;
      .profile-link {
        margin: 1em;
        a {
          margin-top: 2em;
          width: 100%;
        }
      }
      .button {
        margin: 1em;
      }
    }
  }
}
.button {
  padding: 1em;
  display: inline-block;
  @include button;
}
.hidden {
  display: none;
}
