span.close-icon {
  position: absolute;
  top: 0;
  width: 4em;
  height: 4em;
  top: 1em;
  right: 1em;
  &:hover {
    border: 2px solid;
  }
  background-image: url(/stylesheets/icons/close-white.svg);
}
input#submit {
  font-size: 1em;
  background-color: black;
  padding: 0.5em;
  border: 2px solid;
  font-family: inherit;
  border-radius: 10px;
  &:hover {
    color: black;
    background-color: white;
  }
}
#signup,#login {
  input {
    font-size: 1em;
    background-color: rgba(10, 10, 10, 0);
    border: 2px solid;
    font-family: inherit;
  }
  div.question {
    margin: 2em;
    &:hover {
      cursor: default;
      color: black;
      background-color: white;
      border-radius: 10px;
    }
    padding: 0.5em;
  }
  div.log {
    margin: 1em;
  }
  div.social {
    cursor: default;
    border: 2px solid blue;
    padding: 0.5em;
    border-radius: 10px;
    &:hover {
      color: black;
      background-color: white;
    }
  }
}
