body {
  font-family: 'Osaka';
}

div.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
div.nav-wrap {
  @extend div.nav;
  flex-wrap: wrap;
}
@mixin flex-item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}
div {
  .flex-item-1 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
  .title {
    font-size: 3em;
    font-family: inherit;
  }
}
@for $i from 2 through 10 {
  .flex-item-#{$i} {
    margin: 1em;
    order: $i;
    @include flex-item;
  }
}
