span.submit {
  cursor: default;
  border-radius: 10px;
  bottom: 1em;
  right: 1em;
  font-size: 1em;
  position: absolute;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.83);
  color: white;
  &:hover {
    color: black;
    background-color: white;
    border: 1px solid;
  }
}
span.plus {
  cursor: default;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.25em;
  &:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
}
span.close {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 0.5em;
  right: 0.5em;
  background-image: url("/stylesheets/icons/close-black.svg");
  &:hover {
    border: 1px solid;
  }
}
div.openarestaurant {
  text-align: center;
  input {
    border: none;
    font-size: inherit;
    text-align: center;
    margin: 0;
  }
  textarea {
    border: none;
    font-size: inherit;
    text-align: center;
    margin: 0;
    width: 80%;
    height: 4em;
  }
  div.brand {
    text-align: center;
    h1 {
      margin: 0.5em;
    }
    h2 {
      margin: 0.5em;
    }
  }
  div.food {
    position: relative;
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
    border: 3px solid;
    border-radius: 10px;
    span.plus {
      position: absolute;
      top: 0.25em;
      left: 0.25em;
    }
    div.meal {

    }
  }
}
