span.submit {
  cursor: default;
  border-radius: 10px;
  bottom: 1em;
  right: 1em;
  font-size: 1em;
  position: fixed;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.83);
  color: white;
  &:hover {
    color: black;
    background-color: white;
    border: 1px solid;
  }
}
div.start-index {
  text-align: center;
  .circles {
    position: fixed;
    bottom: 0;
    height: 2em;
  }
  .link-right {
    position: fixed;
    bottom: 1em;
    right: 1em;
  }
  .link-left {
    position: fixed;
    bottom: 1em;
    left: 1em;
  }
}

.plus-icon-svg, .close-icon-svg {
  height: 1.5em;
  stroke: black;
  stroke-width: 5;
  &:hover {
    stroke-width: 10;
  }
}
.expand-icon-svg {
  height: 1em;
  width: 1em;
}
.expand-icon-path {
  stroke-linejoin: round;
  stroke-linecap: round;
}
span.close {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 0.5em;
  right: 0.5em;
}
div.openarestaurant {
  text-align: center;
  margin: 1em;
  input {
    border: none;
    font-size: inherit;
    text-align: center;
    margin: 0;
    &:focus {
      outline: none;
    }
  }
  textarea {
    border: none;
    font-size: inherit;
    text-align: center;
    margin: 0;
    height: 1.2em;
    &:focus {
      outline: none;
    }
  }
  div.brand {
    text-align: center;
    h1 {
      margin: 0.5em;
    }
    h2 {
      margin: 0.5em;
    }
  }
  div.foods {
    margin: 1em;
  }
  div.food {
    position: relative;
    margin: 0.5em;
    text-align: center;
    font-size: 1.5em;
    padding: 1em 1em 0;
    border: 3px solid;
    border-radius: 10px;
    span.plus {
      position: absolute;
      top: 0.5em;
      left: 0.5em;
    }
    div.meal {
      span.close {
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        top: -1em;
        right: -1em;
      }
      position: relative;
      margin: 1em;
      #price,
      #time {
        width: 2em;
      }
    }
  }
}
